.direct {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}
.userContainer {
    width: 100%;
    height: 8rem;
    display: flex;
    flex: none;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 0.2rem solid #2b2d30;
}
.messagesContainer {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scrollbar-color:  #7c7c7c #313337;
}
.messageContainer {
    min-height: 4rem;
    width: 100%;
    padding-left: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:hover {
        background-color: rgba(43, 45, 48, 0.6);
    }
}
.usernameText {
    font-weight: bold;
    color: #fff;
    font-size: 1.8rem;
}
.messageText {
    color: #fff;
    font-size: 1.7rem;
}
.onlineActive {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    margin-right: 1rem;
    background-color: rgb(0, 128, 0);
}
.push {
    margin-left: 3rem;
}
.inputContainer {
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2b2d30;
}
.inputForm {
    width: 95%;
    height: 4rem;
}
.input {
    background-color: #313337;
    color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
    outline: none;
    border: none;
    font-size: 1.8rem;
    text-indent: 1rem;
}
.blockButton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
	outline: none;
	border: none;
    color: #fff;
    font-size: 1.8rem;
    background-color: #1e1f21;
    border-radius: 0.6rem;
    padding: 1rem;
    font-weight: bold;
    margin-left: 5rem;
    &:hover {
        background-color: rgba(255,255,255,0.1);
    }
    &:active {
        background-color: rgba(255,255,255,0.05);
    }
}
