* {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: 'Open Sans', sans-serif;
}
:root {
    font-size: 62.5%; /* from 16px to 10px for easy rem calculation*/
}
body {
    background-color: #313337;
}
h2 {
    color: #fff;
}
h3 {
    color: #fff;
}