.me {
    height: 100vh;
    width: 24rem;
    background-color: #2b2d30;
    display: flex;
    flex: none;
}
h2 {
    color: #fff;
}
.flexWrapper {
    display: flex;
    height: 100vh;
    width: 100%;
}