.me {
    height: 100vh;
    width: 24rem;
    background-color: #2b2d30;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    color: #fff;
}
.flexWrapper {
    display: flex;
    height: 100vh;
    width: 100%;
}
.text {
    font-weight: bold;
    color: #fff;
    font-size: 1.8rem;
    overflow: hidden;
}
.user {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 0.5rem;
    width: 18rem;
    height: 4rem;
    border-radius: 0.6rem;
    overflow: hidden;
    &:hover {
        background-color: rgba(255,255,255,0.1);
        cursor: pointer;
    }
    &:active {
        background-color: rgba(255,255,255,0.05);
    }
}
.friends {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.9rem;
    height: 4rem;
    width: 18rem;
    font-weight: bold;
    color: #fff;
    font-size: 1.8rem;
    border-radius: 0.6rem;
    &:hover {
        background-color: rgba(255,255,255,0.1);
        cursor: pointer;
    }
    &:active {
        background-color: rgba(255,255,255,0.05);
    }
}
.active {
    background-color: rgba(255,255,255,0.1);
    .optionText {
        color: #fff;
    }
    &:hover {
        background-color: rgba(255,255,255,0.05);
    }
}
.online {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    margin-right: 1rem;
    background-color: rgb(0, 128, 0);
    flex-shrink: 0;
}
.push {
    padding-right: 2.5rem;
}
.directMessagesText {
    color: #fff;
    font-size: 1.6rem;
    white-space: nowrap;
    overflow: hidden;
}
.directMessagesTextBox {
    display: flex;
    justify-content: center;
    width: 85%;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 0.1rem solid rgba(255,255,255,0.85);
}
.flexWrapperMobile {
    display: flex;
    height: 100vh;
    width: 100%;
}
.meMobileShow {
    position: fixed;
    height: 100vh;
    width: 24rem;
    background-color: #2b2d30;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    animation-name: meAppear;
    animation-duration: 0.2s;
    white-space: nowrap;
    overflow: hidden;
}
.meMobileHide {
    position: fixed;
    height: 100vh;
    width: 0rem;
    background-color: #2b2d30;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    animation-name: meFadeOut;
    animation-duration: 0.2s;
    white-space: nowrap;
    overflow: hidden;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: none;
    color: #fff;
    width: 4.6rem;
    height: 4.6rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(255,255,255,0.1);
    .optionText {
        color: #fff;
    }
    &:hover {
        background-color: rgba(255,255,255,0.05);
    }
    margin-top: 0.5rem;
}
@keyframes meAppear {
    0% {
        width: 0rem;
        
    }
    100% {
        width: 24rem;
    }
}
@keyframes meFadeOut {
    0% {
        width: 24rem;
    }
    100% {
        width: 0rem;
    }
}
@media (max-width: 950px) {
    .flexWrapper {
        display: none;
    }
}
@media screen and (min-width: 950px) {
    .flexWrapperMobile {
        display: none;
    }
}
