h1 {
	color: #fff;
}
.container {
    width: 40rem;
    height: 30rem;
	background-color: #122c5e;
	border-radius: 2.5rem;
    display: flex;
    justify-content: center;
	align-items: center;
    flex-direction: column;
}
.login {
	width: 100%;
	height: 100%;
    display: flex;
    justify-content: center;
	align-items: center;
    flex-direction: column;
}
.send {
	background-color: #154395;
	width: 50%;
	height: 4rem;
	cursor: pointer;
	outline: none;
	border: none;
	margin-top: 7%;
	border-radius: 2.5rem;
	font-size: 2.4rem;
	font-weight: bold;
	color: #fff;
}
.name {
	width: 50%;
	height: 3.6rem;
	outline: none;
	border: none;
	font-size: 1.8rem;
	text-indent: 1rem;
	border-radius: 2.5rem;
}
.password {
	width: 50%;
	height: 3.6rem;
	margin-top: 5%;
	outline: none;
	border: none;
	font-size: 1.8rem;
	text-indent: 1rem;
	border-radius: 2.5rem;
}
.bodyContainer {
	height: 100vh;
	width: 100vw;
	background-color: #2b2d30;
	display: flex;
	margin-bottom: auto;
	justify-content: center;
	align-items: center;
}
.errorMessage {
	margin-top: 1rem;
	font-size: 1.8rem;
	color: rgb(255, 20, 20);
	font-weight: bold;
}
.push {
	margin-top: 1.9rem;
}