* {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
    background-color: #282e3a;
}
.chatNest {
    header {
        width: 100%;
        height: 7vh;
        background-color: #122c5e;
        display: flex;
        align-items: center;
    }
    #header {
        display: inline-block;
        margin-left: 45%;
    }
    .select {
        background-color: #154395;
        width: 12%;
        height: 50%;
        border-radius: 50px;
        cursor: pointer;
        outline: none;
        border: none;
        margin-left: 10%;
    }
    .logout {
        background-color: #154395;
        width: 10%;
        height: 50%;
        border-radius: 50px;
        cursor: pointer;
        outline: none;
        border: none;
        margin-left: 2%;
    }
    .optiontext {
        font-size: 22px;
    }
    .logout:hover {
        background-color: #284e93;
    }
    .select:hover {
        background-color: #284e93;
    }
    .chatbox {
        width: 40vw;
        height: 50vh;
        background-color: rgb(20, 20, 20);
        margin-left: 30vw;
        margin-top: 1vh;
        border-radius: 25px;
    }
    .chat {
        width: 100%;
        height: 90%;
        background-color: #154395;
        overflow: auto;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    .chatcontent {
        padding-top: 5px;
        line-break: anywhere;
        overflow-wrap: break-word;
    }
    .chatinput {
        background-color: rgba(255, 255, 255, 0.8);
        outline: none;
        border: none;
        width: 100%;
        height: 10%;
        font-size: 20px;
        text-indent: 10px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .chatinput:focus {
        background-color: rgb(255, 255, 255);
    }
    .chatinput:hover {
        background-color: rgb(255, 255, 255);
    }
    .name {
        margin-top: 12vh;
        font-size: 30px;
    }
    h1 {
        text-align: center;
        color: #fff;
        margin: 0;
    }
    h2 {
        color: #fff;
    }
    .chattext {
        margin: 0;
        font-size: 23px;
        padding: 2px 0px 2px 5px;
    }
    .chattext:hover {
        background-color: #122c5e;
    }
    @media (max-width: 450px) {
        #header {
            display: none;
        }
        .logout {
            width: 30%;
            height: 80%;
            margin-left: 5%;
        }
        .chatbox {
            width: 80vw;
            margin-left: 10vw;
        }
        .optiontext {
            font-size: 20px;
        }
        .select {
            width: 40%;
            height: 80%;
            margin-left: 12.5%;
        }
        .chattext {
            font-size: 20px;
        }
    }
    @media (min-width: 450px) and (max-width: 550px) {
        #header {
            margin-left: 1%;
            font-size: 25px;
        }
        .logout {
            width: 25%;
            height: 80%;
            margin-left: 2%;
        }
        .chatbox {
            width: 80vw;
            margin-left: 10vw;
        }
        .select {
            width: 35%;
            height: 80%;
            margin-left: 5%;
        }
        .chattext {
            font-size: 20px;
        }
    }
    @media (min-width: 550px) and (max-width: 800px) {
        #header {
            margin-left: 5%;
            font-size: 25px;
        }
        .logout {
            width: 25%;
        }
        .chatbox {
            width: 80vw;
            margin-left: 10vw;
        }
        .select {
            width: 30%;
        }
    }
    @media (min-width: 800px) and (max-width: 1050px) {
        .chatbox {
            width: 60vw;
            margin-left: 20vw;
        }
        #header {
            margin-left: 15%;
        }
        .logout {
            width: 20%;
        }
        .select {
            width: 25%;
        }
    }
    @media (min-width: 1050px) and (max-width: 1250px) {
        .chatbox {
            width: 60vw;
            margin-left: 20vw;
        }
        .select {
            width: 15%;
        }
    }
    @media (min-width: 1250px) and (max-width: 1650px) {
        .chatbox {
            width: 45vw;
            margin-left: 27.5vw;
        }
        .select {
            width: 15%;
        }
    }
    @media (min-height: 500px) and (max-height: 800px) {
        .logout {
            height: 70%;
        }
        .select {
            height: 70%;
        }
        .chattext {
            font-size: 20px;
        }
    }
    @media (max-height: 500px) {
        header {
            height: 14vh;
        }
        .logout {
            height: 70%;
        }
        .select {
            height: 70%;
        }
        .chatbox {
            height: 70vh;
        }
        .name {
            margin-top: 3vh;
        }
        .chattext {
            font-size: 20px;
        }
    }
}
